<% layout('layouts/boilerplate') %>
  <div id="map" style="width: 100%; height: 500px"></div>
  <h1>All Campgrounds</h1>
  <div>
    <a href="/campgrounds/new" style="color:aliceblue">Add New Campground</a>
  </div>

  <% campgrounds.forEach(function(campground) { %>
    <div class="card" md-3>
      <div class="row">
        <div class="col-md-3">
          <img src="<%= campground?.images[0]?.url %>" class="img-fluid" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= campground.title %>
            </h5>
            <p class="card-text">
              <%= campground.description %>
                <p class="card-text">
                  <small class="text-muted">
                    <%= campground.location %>
                  </small>
                </p>


                <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                  <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">Show</a>



                  <% if(campground.author?.equals(currentUser?._id)) { %>
                    <button class="btn btn-danger">Delete</button>
                    <% } %>
                </form>

          </div>
        </div>
      </div>
    </div>
    <% }) %>


      <script>
        const MAP_BOX_TOKEN = '<%-MAPBOX_TOKEN%>';
       
      
 const CAMPGROUNDS = '<%-JSON.stringify(campgrounds)%>'

 const tempMap2 = `{
    "type": "FeatureCollection",
    "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },
    "features": [
    { "type": "Feature", "properties": { "id": "ak16994521", "mag": 2.3, "time": 1507425650893, "felt": null, "tsunami": 0 }, "geometry": { "type": "Point", "coordinates": [ -151.5129, 63.1016, 0.0 ] } },
    { "type": "Feature", "properties": { "id": "ak16994519", "mag": 1.7, "time": 1507425289659, "felt": null, "tsunami": 0 }, "geometry": { "type": "Point", "coordinates": [ -150.4048, 63.1224, 105.5 ] } },
    { "type": "Feature", "properties": { "id": "ak16994517", "mag": 1.6, "time": 1507424832518, "felt": null, "tsunami": 0 }, "geometry": { "type": "Point", "coordinates": [ -151.3597, 63.0781, 0.0 ] } },
    ]
    }
    `


      </script>

      <script src="/javascripts/clusterMap.js"></script>