<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-6 ">
    <div class="card mb-3">
      <img src="<%= campground.image %>" />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= campground.location %></li>
        
        <li class="list-group-item">Submitted by <%= campground.author.username %></li>
        
        <li class="list-group-item">$<%= campground.price %>.00</li>
      </ul>
  

      <div class="card-body">
        <a href="/campgrounds" class="card-link btn btn-info">Go Back</a>
        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-danger"
          >Edit</a
        >
      </div>
      <div class="card-footer text-muted">Posted 2 days ago</div>
      <form
        action="/campgrounds/<%= campground._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>
    

        
      
        
  
</div>
<div class="col-6 ">

  <h2>Submit a Reviews</h2>

  <form
    action="/reviews/<%=campground._id %>"
    class="form-group validated-form"
    method="POST"
    novalidate
  >
    <div>
      <label for="rating">Rating</label>
      <input
        type="number"
        class="form-control"
        id="rating"
        name="review[rating]"
        min="1"
        max="5"
        value="1"
      />
    </div>
    <div class="form-group">
      <label for="review">Review</label>
      <textarea
        class="form-control"
        id="body"
        name="review[body]"
        rows="3"
        required
        
      >A great place for a house fire</textarea>
      <div class="invalid-feedback">
        Please provide a review.
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
 
  </form>
  <% for(let review of campground.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
         Rated: <%= review.rating %> 
          
        </h5>
        <p class="card-text">Review: <%= review.body %></p>
       
      </div>
      <div class="card-footer text-muted">Posted 21 days ago
      <form
        action="/reviews/<%= campground._id %>/<%= review._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-sm btn-danger">Delete</button>
      </form>
     
    </div>
      <%} %>
  </div>
