<% layout('layouts/boilerplate') %>
    <h1><%= campground.title %></h1>
    <p><%= campground.location %></p>
    <img src="<%= campground.image %>" style="width:500px;height:600px;">
    
    <p><%= campground.description %></p>

    <a href="/campgrounds">Go Back</a><br>
    <a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>

