<% layout('layouts/boilerplate') %>

  <div class="row">
    <div class="col-6 ">
      <div class="card mb-3">
        <img src="<%= campground.image %>" />
        <div class="card-body">
          <h5 class="card-title">
            <%= campground.title %>
          </h5>
          <p class="card-text">
            <%= campground.description %>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= campground.location %>
          </li>

          <li class="list-group-item">Submitted by <%= campground.author.username %>
          </li>

          <li class="list-group-item">$<%= campground.price %>.00</li>
        </ul>

        <% if(campground.author.equals(currentUser?._id)) { %>

          <div class="card-body">
            <a href="/campgrounds" class="card-link btn btn-info">Go Back</a>
            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-danger">Edit</a>
          </div>
          <div class="card-footer text-muted">Posted 2 days ago</div>
          <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
            <% } %>
          </form>
      </div>






    </div>
  
    <div class="col-6 ">
      <%if(currentUser?._id) {%>
        

      <h2>Submit a Reviews</h2>

      <form action="/reviews/<%=campground._id %>" class="form-group validated-form" method="POST" novalidate>
       
        <fieldset class="starability-basic">
          <legend>Rating:</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" aria-label="No rating." />
          <input type="radio" id="one-star" name="review[rating]" value="1" />
          <label for="one-star" title="Terrible">1 star</label>
          <input type="radio" id="two-stars" name="review[rating]" value="2" />
          <label for="two-stars" title="Not good">2 stars</label>
          <input type="radio" id="three-stars" name="review[rating]" value="3" />
          <label for="three-stars" title="Average">3 stars</label>
          <input type="radio" id="four-stars" name="review[rating]" value="4" />
          <label for="four-stars" title="Very good">4 stars</label>
          <input type="radio" id="five-stars" name="review[rating]" value="5" />
          <label for="five-stars" title="Amazing">5 stars</label>
        </fieldset>
        <div class="form-group">
          <label for="review">Review</label>
          <textarea class="form-control" id="body" name="review[body]" rows="3" required>A great place for a house
            fire</textarea>
          <div class="invalid-feedback">
            Please provide a review.
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <%} %>

      </form>
      <% for(let review of campground.reviews) { %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              <li class="list-group-item">Submitted by <%=review?.author?.username %>
              </li>

            </h5>
            <p class="starability-result" data-rating="<%= review.rating %>">
              Rated: <%= review.rating %> stars
            </p>
            <p class="card-text">Review: <%= review.body %>
            </p>

            

          </div>
          <div class="card-footer text-muted">Posted 21 days ago
            <% if(review.author.equals(currentUser?._id)) { %>
            <form action="/reviews/<%= campground._id %>/<%= review._id %>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %>
            
          </div>
          <%} %>
          
        </div>